.bottom_navigatiom_bar {
  height: fit-content;
  width: auto;
}
.Nav_Bar {
  justify-content: left;
}
.Nav_Bar li {
  display: block;
  cursor: pointer;
  height: 30px;
  text-decoration: none;
  font-weight: bold;
  text-align: left;
  justify-content: left;
  color: goldenrod;
}
