.bottom_navigatiom_bar {
  height: fit-content;
  width: 108%;
  padding-top: 10px;
  margin: 0% auto;
  background-color: transparent;
}
.Nav_Bar {
  justify-content: left;
}
.Nav_Bar li {
  display: block;
  cursor: pointer;
  height: 35px;
  text-decoration: none;
  font-weight: bold;
  text-align: left;
  justify-content: left;
  color: goldenrod;
}
