.gallery-hero {
  text-align: center;
  height: fit-content;
  width: 100%;
  display: block;
}
.gallery__content {
  height: 60vh;
  background-image: url("/public/img/Test2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  margin: auto;
}
.gallery-cards {
  display: grid;
  width: 55%;
  margin: 0% auto;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto;
}
.card {
  display: contents;
  object-fit: contain;
  background-color: rgb(1, 12, 12);
  height: 300px; /* [1.1] Set it as per your need */
  overflow: hidden; /* [1.2] Hide the overflowing of child elements */
}
.card > img {
  transition: transform 0.5s ease;
}
.card:hover img {
  transform: scale(1.5);
}
