.about {
  height: fit-content;
  width: 100%;
}
.about-component {
  height: 60vh;
  background-image: url("/public/img/Test2.jpg");
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  margin: 0% auto;
}

.about-component > img {
  object-fit: contain;
}

.about h1 {
  color: white;
  font-size: 60px;
}
.about_us h1 {
  font-size: 30px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.about__btn {
  margin-top: 35px;
}
.about__img {
  width: 100%;
  overflow: hidden;
}

.about__img img {
  width: 100%;
  border-radius: 5px;
}
.about_us {
  width: 100%;
  margin: 0% auto;
  height: fit-content;
  margin-bottom: 20px;
}
.about_us_items {
  width: fit-content;
  margin: 0% auto;
  height: auto;
  padding-top: 10px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 650px 650px;
}
.about_us_item p {
  color: lightcoral;
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.about_us_item {
  word-spacing: 5px;
  display: block;
  padding: 20px;
  object-fit: cover;
  height: fit-content;
}

.about_us_content {
  display: block;
  padding-top: 40px;
  object-fit: cover;
  height: fit-content;
}
.about_us_pic {
  display: block;
  margin-bottom: 40px;
  object-fit: cover;
  height: fit-content;
}
.Need_info {
  padding: 10px;
  width: auto;
  height: 110px;
  color: lightcoral;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.Need_info h2 {
  text-align: center;
  margin: 10px;
  font-weight: bold;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.about_us_pic img {
  width: 100%;
}
.about_us_content > p {
  margin: 30px;
  padding-top: 14px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.about_us_item hr {
  border: 1px solid rgb(165, 88, 88);
  margin-bottom: 20px;
  float: left;
}
.about_us_content span {
  color: lightcoral;
  margin-left: 30px;
}
.about-feature {
  width: fit-content;
  padding-left: 30px;
}

.bottom-navbar {
  width: 100%;
  background-color: rgb(22, 42, 41);
}
.footer-Div {
  display: flex;
  flex-direction: row;

  width: 40%;
  margin: 0% auto;
}

.logo-Div {
  flex: 1;
  display: block;
  margin: 0% auto;
  height: 300px;
}

.bottom-navbar img {
  object-fit: cover;
  height: 200px;
}

.nav-bar {
  flex: 1;
  margin: 0% auto;
}
.social-link {
  flex: 1;

  text-align: center;
}
.social-icons {
  padding-top: 40px;
  width: fit-content;
  margin: 20px;
  margin: 0% auto;
}

a {
  text-decoration: none;
  color: goldenrod;
}
