.hero {
  height: 100%;
  width: 95%;
  margin: 0% auto;
  text-align: center;
}
.banner-image {
  height: fit-content;
  margin: 0% auto;
  width: 100%;
  background-image: url("/public/img/meat.jpg");
  background-repeat: no-repeat;

  object-fit: cover;
}

.banner__content {
  align-items: center;
  height: 100vh;
  color: #fff;
  display: flex;
}
.banner__text {
  align-items: center;
  text-align: center;
  justify-content: center;
}
.banner__text h3 {
  font-size: 40px;
}
.banner__text h1 {
  font-size: 60px;
  line-height: 80px;
  font-weight: 900;
  margin-top: 20px;
}
.banner__text p {
  font-size: 25px;
  font-weight: 400;
  margin-top: 20px;
}
.banner__btn {
  margin-top: 35px;
}

.btn {
  text-decoration: none;
  border: none;
  outline: none;
  color: #fff;
  font-weight: 700;
  border-radius: 30px;
  font-size: 12px;
  padding: 20px 40px;
}
.about-restaurant {
  margin: 0% auto;
  padding: 20px;
  height: 50%;
  width: 95%;
}
.about-restaurant span {
  color: lightpink;
}
.about-restaurant h1 {
  word-spacing: 15px;
  font-weight: normal;
  font-family: fantasy;
}
.intro_of_restaurant {
  display: block;
  margin-bottom: 20px;
}

.detail_of_restaurant {
  display: grid;
  grid-template-columns: auto auto;
  height: fit-content;
  gap: 10px;
}
.item {
  border-radius: 20px;
  text-align: center;
  width: 500px;
  cursor: pointer;
  display: block;
}
.item img {
  height: 300px;
  object-fit: contain;
  border-radius: 10px;
  margin-top: 10px;
}
.item > p {
  font-family: fantasy;
  font-weight: normal;
  padding: 20px;
  text-align: left;
}
.Button-Div {
  float: left;
  margin-left: 20px;
  margin-bottom: 10px;
}
.Button-Div > button {
  background-color: rgb(224, 93, 93);
}
.Button-Div > button:hover {
  background-color: rgb(199, 72, 72);
}
.medium-Div {
  padding: 10px;
  width: auto;
  height: 110px;
  color: lightcoral;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin: 10px;
}
.last-Div {
  height: auto;
  width: 100%;
  margin: 0% auto;
  display: block;
  margin-top: 50px;
}
.items-containner {
  height: fit-content;
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;

}
.cards {
  margin: 20px;
  height: fit-content;
  width: 400px;
  padding: 50px;
  display: flex;
  border-bottom-right-radius: 80px;
  border-top-left-radius: 80px;
  flex-direction: row;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.image-Div {
  flex: 1;
}

.icon-Div {
  width: 50px;
  height: 50px;
  background-color: rgb(224, 93, 93);
  margin: 0% auto;
  padding: 10px;
  border-radius: 50%;
}
.item-containt {
  flex: 3;
}
.taste-Div {
  height: fit-content;
  text-align: center;
  margin: 50px 0px 0px 0px;
  width: 100%;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  background-image: url("/public/img/menu-pic.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;

}
.taste-items-1 {
  display: grid;
  grid: auto-flow / 1fr 1fr 1fr;
}
.taste-item {
  height: fit-content;
  display: block;
  padding: 25px;
}
.taste-item > img {
  height: 180px;
  background-size: cover;
  width: 180px;
  border-radius: 50%;
}
.taste-item > h2 {
  color: rgb(224, 93, 93);
}
.taste-item > button {
  background-color: rgb(224, 93, 93);
}
.taste-item > button:hover {
  background-color: rgb(199, 72, 72);
}
.taste-items-2 {
  display: grid;
  grid: auto-flow / 1fr 1fr 1fr;
  background-attachment: fixed;
}
.btn_color {
  background-color: rgb(255, 255, 255);
}
.btn_color > button {
  background-color: rgb(54, 51, 51);
  color: white;
}
.btn_color > button:hover {
  background-color: rgb(14, 1, 1);
  color: rgb(209, 198, 198);
}
/* .card-container {
  display: grid;
  grid: 230px / auto auto auto;
  grid-gap: 20px;
  padding: 10px;
}
.card-item {
  border-radius: 20px;
  background-color: rgb(226, 242, 242);
  height: 200px;
  margin-right: 10px;
  text-align: center;
  width: 80%;
  cursor: pointer;
}
.card-item > img {
  height: 200px;
} */

.card-container {
  background-color: #eee;
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: repeat(3,lfr) 150px;
  grid-gap: 20px;
  margin: 70px 0 0 50px;
}
.items1 {
  background-color: rgb(218, 205, 145);
}
.items2 {
  background-color: rgb(255, 255, 255);
  text-align: center;
  justify-content: left;
}
hr{
  margin: auto;
  width: 40%;
}

.items3 {
  background-color: rgb(108, 38, 13);
grid-row: 1/4;
grid-column: 3/4;
}
.items4 {
  background-color: rgb(155, 234, 90);
}
.items5 {
  background-color: rgb(73, 76, 71);
}
.card-container  img{
  height: 200px;
width: fit-content;
  object-fit: contain;
}
