* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

.header_nav {
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 0;
  height: 70px;
  min-height: 90px;
  text-align: center;
  font-weight: bold;
  margin: auto;
  width: 100%;
  padding: 10px;
  padding: 0 1rem;
  background-color: transparent;
}

.container {
  width: 1200px;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  align-content: center;
}

.navbar {
  top: 0;
  left: 0;
  margin: auto;
  width: 95%;
  padding: 10px;
}
.navbar__text {
  display: flex;
  height: 60px;
  align-items: center;
  width: 1200px;
  margin: 0 auto;
}
.logo {
  width: 100%;
  flex: 1;
}
.logo img {
  width: fit-content;
  height: 70px;
}
.navbar__ul {
  flex: 5;
  width: 60%;
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
}
.navbar__ul li a {
  text-decoration: none;
  color: #fff;
  padding: 0 15px;
  font-weight: 800;
  text-transform: uppercase;
  cursor: pointer;
}

.banner__btn {
  margin-top: 35px;
}

.btn {
  text-decoration: none;
  border: none;
  outline: none;
  color: #fff;
  font-weight: 700;
  border-radius: 30px;
  font-size: 12px;
  padding: 20px 40px;
}
.btn-smart {
  background-color: rgba(39, 34, 54, 0.971);
}

.p-25 {
  padding: 45px;
}

.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.col-6 {
  width: 50%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33333333333333%;
}

.shop {
  width: 95%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  height: 450px;
  background-image: url("/public/img/food.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: auto;
}
.shop__text {
  height: 450px;
  display: flex;
  align-items: center;
  width: 400px;
  justify-content: center;
  margin: 0 auto;
  color: #fff;
}
.shop__text h1 {
  font-size: 40px;
  line-height: 60px;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 0.5px;
}
.shop__btn {
  margin-top: 35px;
}

.clients {
  padding: 100px 0;
  background-image: url("/public/img/food.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  background-attachment: fixed;
  margin: auto;
  width: 95%;
}

.client {
  text-align: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.client h1 {
  font-style: 45px;
}
.client p {
  font-style: 18px;
  font-weight: 400;
  margin-top: 10px;
}

@media (max-width: 700px) {
  .navbar__text {
    display: flex;
    height: auto;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
  }
  .logo {
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .container {
    width: 100%;
    padding: 0 30px;
  }
  .banner__text {
    width: auto;
  }
  .banner__text h3 {
    font-size: 25px !important;
  }
  .banner__text h1 {
    font-size: 40px;
    line-height: 60px;
    font-weight: 900;
    margin-top: 20px;
  }
  .banner__text p {
    font-size: 20px;
    font-weight: 400;
    margin-top: 20px;
  }
  .navbar__ul {
    width: 100%;
    justify-content: center;
  }
  .navbar__ul li a {
    text-decoration: none;
    color: #fff;
    padding: 0 10px;
    font-weight: 300;
    text-transform: uppercase;
  }
  .col-3,
  .col-4,
  .col-6 {
    width: 100%;
  }
  .client {
    margin: 20px 0;
  }
  .about h1 {
    font-size: 25px;
  }
  .shop h1 {
    font-size: 25px;
  }
  .menu h1 {
    font-size: 25px;
  }
}
